* {
    font-family: 'Space Grotesk', sans-serif;
}

header {
    text-align: right;
    margin-top: 20px;
    margin-right: 30px;
}

body {
    background-image: url("/assets/bk-image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    margin-top: 40px;
}

.sub-container {
    display: flex;
    width: 50%;
    max-width: 1200px;
}

.chat-input {
    flex-direction: row;
    align-items: left;
}

.chat-feed {
    flex-direction: column;
    align-items: left;
}

input {
    display: inline;
    padding: 5px;
    margin: 10px 10px 0 0;
    height: 20px;
}

.chat-input-name {
    width: 20%;
}

.chat-input-msg {
    width: 65%;
}

button {
    height: 34px;
    width: 80px;
    margin-top: 10px;
}

.chat-header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

.chat-box {
    border: 1px solid #b0b0b0;
    height: 300px;
    padding-left: 5px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.3);
}

p {
    overflow-wrap: break-word;
}

#random-image {
    width: 300px;
    border: 1px solid #b0b0b0;
}

@media (max-width: 800px) {
    header {
        text-align: center;
        margin-right: 0;
        margin-top: 20px;
    }
    .sub-container {
        width: 75%;
    }
    .chat-box {
        height: 265px;
    }
    #random-image {
        width: 360px;
    }
}